#sidebar #sidebar-tabs i.fas{
    /* Sidebar Tab all icons size*/
    height: 20px;
    width: 20px;
}
#sidebar.collapsed {
    height: 345px !important;

}
.fa-caret-left{
    /*margin-top: 5px;*/
}
.fa-caret-right{
    margin-top: 5px;
}
#sidebar-tabs{
    padding-bottom: 10px;
}