#sidebar #sidebar-tabs i.fas{
    /* Sidebar Tab all icons size*/
    height: 40px;
    width: 40px;
}

#sidebar #sidebar-tabs i.fa-solid{
    /* Sidebar Tab all icons size*/
    height: 40px;
    width: 40px;
}

#sidebar.collapsed {
    height: 585px !important;

}
.fa-caret-left{
    /*margin-top: 15px;*/
}
.fa-caret-right{
    margin-top: 12px;
}
#sidebar-tabs{
    padding-bottom: 15px;
}