<li style="line-height: 16px;">
    Fantasy UI

    <a title='Donate' href='https://ko-fi.com/iotech'>
        <img src='https://storage.ko-fi.com/cdn/cup-border.png'
            style="border: none; height: 12px; margin-bottom: -1px;">
    </a>

    <span style="font-size: 11px;">
        <a href='https://github.com/iotech-fvtt/flexui/issues'>
            Report issue
        </a>
    </span>
</li>
